Source: calamares
Section: devel
Priority: optional
Maintainer: Rohan Garg <rohan@kde.org>
Build-Depends: debhelper (>= 9), cmake,
 extra-cmake-modules,
 qtbase5-dev,
 libqt5svg5-dev,
 extra-cmake-modules,
 libkf5i18n-dev,
 libkf5solid-dev,
 libkf5coreaddons-dev,
 python3-dev,
 libboost-python1.54-dev,
 os-prober,
 qttools5-dev,
 libparted-dev,
 libkf5config-dev,
 gettext,
 libyaml-cpp-dev,
 pkg-config,
 libatasmart-dev,
 pkg-kde-tools,
 qttools5-dev-tools,
 libpolkit-qt5-1-dev
Standards-Version: 3.9.5
Homepage: https://github.com/calamares/calamares
Vcs-Git: http://github.com/calamares/calamares-debian.git
Vcs-Browser: https://github.com/calamares/calamares-debian.git

Package: calamares
Architecture: any
Depends: squashfs-tools, ${shlibs:Depends}, ${misc:Depends}
Description: distribution-independent installer framework
 distribution-independent installer framework.
 .
 This package contains the calamares installer framework.

Package: calamares-dbg
Architecture: any
Section: debug
Depends: calamares (= ${binary:Version}), ${misc:Depends}
Description: distribution-independent installer framework -- debug symbols
 distribution-independent installer framework.
 .
 This package contains the debugging symbols for calamares.

